.box {
    display: flex;
    flex-flow: column;
    height: 100%;
    align-items: center;
    padding-top: 2%;
    padding-bottom: 2%;
    background-color: beige;
  }

.h1 {
    align-self: center;
}

.navbar {
    background-color: green;
}

html {
    background-color: beige;
}

.d-flex {
    background-color: beige;
}